<section id="section">

    <article class="about-article">
        <h1 class="about-title"><b>A</b>BOUT</h1>

        <div class="image-grid">
            <div class="image-grid-img">
                <img src="../../../assets/img/photo-development.jpg" title="Foto representativa" alt="Foto programando">
            </div>
            <div class="image-grid-text">
                <p>
                    I consider myself a very introverted person, someone who everytimes tries to train more to give the best in my work.
                    At the present I am studying at home with some courses that I bought. This courses are about .NET and Angular because
                    those are the technologies that I want to learn more. Some of those are:
                </p>
                <ul>
                    <li>Worskshop de .NET Framework / <b>Everis</b></li>
                    <li class="traduction-text">Worskshop about .NET Framework</li>
                    <li>Curso Completo de Programación C Sharp (C#) / <b>Udemy</b></li>
                    <li class="traduction-text">Complete course of C Sharp (C#) programming</li>
                    <li>Desarrollo de aplicaciones Web con Angular 10 y NodeJS / <b>codigointeractivo</b></li>
                    <li class="traduction-text">Web application development with Angular 10 and NodeJS</li>
                    <li>Aplicacion web en Angular(7+) con Servicios Rest (.Net Core) / <b>Udemy</b></li>
                    <li class="traduction-text">Web application with Angular(7+) with Rest Service (.Net Core)</li>
                </ul>
                <p>
                    And this is the begining of all I want to learn. If you give me the opportunity of show to you what I can give to you
                    I will try to not fail and I give the best version of myself as a professional.
                </p>
                
            </div>
        </div>

    </article>
</section>