<section id="section">

    <article class="about-article">
        <h1 class="about-title"><b>A</b>BOUT</h1>

        <div class="image-grid">
            <div class="image-grid-img">
                <img src="../../../assets/img/photo-development.jpg" title="Foto representativa" alt="Foto programando">
            </div>
            <div class="image-grid-text">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem provident amet commodi, quaerat necessitatibus quos hic alias delectus numquam iusto ducimus officia dicta itaque, tempora quo odit dolorem? Officiis, ratione?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ad totam, repudiandae quos aliquam quae fugit consectetur ipsa, vitae perspiciatis quis. Reprehenderit nulla assumenda blanditiis est ipsum repellat quam dolores.
                </p>
                <ul>
                    <li>Prueba asdasdas</li>
                    <li>Prueba asdasdas</li>
                    <li>Prueba asdasdas</li>
                </ul>
            </div>
        </div>

    </article>
</section>