<nav id="navbar">
    <h1 class="navbar-title"><b>M</b>ario</h1>

    <ul class="navbar-list">
        <li *ngFor="let option of menuOptions">
            <a [routerLink]="option.url" routerLinkActive="navbar-active" title="Redireccion...">
                <span class="icon" routerLinkActive="navbar-active-a">
                    {{ option.title }}
                </span>
            </a>
        </li>
        <li>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </li>
        <!-- <li class="menu-right-container">
            Prueba
        </li> -->
    </ul>
</nav>