<nav>
    <ul>
        <li *ngFor="let option of menuOptions">
            <a href="" title="Redireccion...">
                <span class="icon">
                    {{ option.title }}
                </span>
            </a>
        </li>
        <li>

            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </li>
        <!-- <li class="menu-right-container">
            Prueba
        </li> -->
    </ul>
</nav>