<section id="home-section">
    <article class="home-article">

        <div class="home-div">
            <div>
                <img id="home-img" src="../../../assets/img/profile-photo.jpg">
            </div>
            <div class="div-img-txt">
                <div></div>
            </div>
            <div class="div-img-p">
                <p class="img-p">Me llamo <b>Mario Alejandro de la Barra</b>
                    <br/> Desarrollador <b>.NET Fullstack</b>
                    <br/><i>Lorem ipsum dolor sit amet consectetur adipisicing elit.</i>
                    <br/><button>Leer más... <i class="far fa-arrow-alt-circle-right arrow-button"></i></button>
                </p>
            </div>
        </div>

        <p class="home-p">
        </p>

    </article>
</section>