<section id="home-section">
    <article class="home-article">

        <div class="home-div">
            <div>
                <!-- <img id="home-img" src="../../../assets/img/profile-photo.jpg"> -->
            </div>
            <div class="div-img-txt">
                <div></div>
            </div>
            <div class="div-img-p">
                <p class="img-p">My name is <b>Mario Alejandro de la Barra</b>
                    <br/> <b>.NET Fullstack</b> Developer
                    <br/><i>I consider myself a very introverted person, someone who everytimes tries to train more to give the best in my work...</i>
                    <!-- <br/><i>Me considero una persona muy entrovertida, alguien que busca capacitarse constantemente para dar lo mejor en mi trabajo.</i> -->
                    <br/><button id="readmore-button"><a routerLink="/about">Read more...</a> <i class="fas fa-chevron-circle-right arrow-button"></i></button>
                </p>
            </div>
        </div>

        <p class="home-p">
        </p>

    </article>
</section>