/* You can add global styles to this file, and also import other style files */


/* Paleta de Colores
#dddddd
#222831
#30475e
#f05454

*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Montserrat', serif;
    background-color: #dddddd;
}

#section {
    background-color: #222831;
    color: #ddd;
    box-shadow: 5px 5px 0px 0px #f05454;
    width: 95%;
}

@keyframes slide-right {
    from {
        margin-left: -1000px;
    }
    to {
        margin-left: 0%;
    }
}

@keyframes opacityText {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}