/* You can add global styles to this file, and also import other style files */


/* Paleta de Colores
#dddddd
#222831
#30475e
#f05454

*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Montserrat', serif;
    background-color: #dddddd;
}